body {
    margin: 0px;
    background-color: $blue;
    color: $pink;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}

.calendar-container {
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
}
