.week-setup {
display: grid;
grid-template-columns: repeat(7, 1fr);
justify-content: space-between;

    .day {
    position: relative;
    border: 1px solid $pink;
    border-radius: 2px;
    height: 125px;
    width: 95%;
    }

    .Date {
    padding:10px;
    }

    textarea {
    background-color: inherit;
    transition: 1s;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 70%;
    width: 97%;
    resize: none;
    position: relative;
    bottom: 0;
    color: $pink;
    font-size: 1em;


        &:hover {
            border: 2px solid $purple;
        }
        &:focus{
            outline: 0px;
            border: 2px solid $purple;
        }
    }

    .day-overflow{
        border: 1px solid $purple;
        color: $purple;
        width: 95%;

            textarea{
            &:hover {
                border: 2px solid transparent;
            }
        }
    }
}