.calendar-container {
    h1 {
        height: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-rig: 20px;
    }
    h2{
        font-size: .8em;
        height: 30px;
        text-align: center;
    }
    h3{
        font-size: 2em;
        text-align: center;
    }
}
